#wrap {
    width: 100%;
    position: relative;

    .back {
        width: 29px;
        height: 30px;
        position: absolute;
        top: 50px;
        right: 10%;
        z-index: 99;

        img {
            width: 100%;
        }
    }

    .box1,
    .box2,
    .box3 {
        position: absolute;
    }

    .box1,
    .box2 {
        left: 0;
        bottom: 13%;
    }

    .box2 {
        left: 6%;
        // bottom:87%;
    }

    .box3 {
        height: 700px;
        overflow: hidden;
        right: 0;
        bottom: 100px;
    }
}

header {
    .head {
        width: 14.40rem;
        margin: 0 auto;
        height: 1.36rem;
        // margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 9;

        .logo {
            width: 2.74rem;
            display: flex;
            // margin-left: 3.82rem;

            img {
                width: 100%;
            }
        }

        .navList {
            height: 100%;
            display: flex;
            align-items: center;
            // margin-right:3.71rem;
            .dropdown2 {
                margin: 0 0.8rem;
            }

            .dropdown1,
            .dropdown2 {
                width: 0.8rem;
                height: 100%;
                display: flex;
                align-items: center;
                position: relative;
                font-size: 0.18rem;

                .dropdown-content1 {
                    width: 1.8rem;
                    display: none;
                    position: absolute;
                    top: 0.9rem;
                    left: 0;
                    // display: flex;
                    // flex-direction: column;
                    background: #FFF;

                    a {
                        display: inline-block;
                        width: 0.89rem;
                        height: 0.42rem;
                        color: rgba(51, 61, 99, 1);
                        line-height: 0.42rem;
                        text-align: center;
                    }
                }

                .dropdown-content2 {
                    display: none;
                    position: absolute;
                    top: 0.90rem;
                    left: 0;
                    background: #FFF;

                    a {
                        display: inline-block;
                        width: 1.10rem;
                        height: 0.42rem;
                        color: rgba(51, 61, 99, 1);
                        line-height: 0.42rem;
                        text-align: center;
                    }
                }

                .activeW {
                    background: 0;
                }

                .active {
                    background: RGBA(204, 222, 253, 1);
                }
            }

            .dropdown1:hover .dropdown-content1 {
                display: block;
            }

            .dropdown2:hover .dropdown-content2 {
                display: block;
            }

            span,
            a {
                font-size: 0.18rem;
                font-family: PingFangSC-Regular;
                font-weight: 400;
                color: rgba(255, 255, 255, 1);
                line-height: 0.22rem;
                white-space: nowrap;

            }
        }
    }
}

// @media (max-width:1600px) {
//     header.netToBack {
//         .head {
//             .navList {

//                 // margin-right:80px;
//                 .dropdown2 {
//                     margin: 0 30px;
//                 }
//             }
//         }
//     }

//     header.netBack {
//         .head {
//             .navList {
//                 margin-right: 150px;

//                 .dropdown2 {
//                     margin: 0 30px;
//                 }
//             }
//         }
//     }
// }

// @media (max-width:1300px) {
//     header.netToBack {
//         .head {
//             .logo {
//                 margin-left: 50px;
//             }

//             .navList {
//                 margin-right: 60px;
//             }
//         }
//     }

//     header.netBack {
//         .head {
//             .logo {
//                 margin-left: 50px;
//             }

//             .navList {
//                 margin-right: 180px;
//             }
//         }
//     }
// }

// @media (max-width:1200px) {
//     header.netToBack {
//         .head {
//             .logo {
//                 margin-left: 50px;
//             }

//             .navList {
//                 // margin-right:50px;
//             }
//         }
//     }

//     header.netBack {
//         .head {
//             .logo {
//                 margin-left: 50px;
//             }

//             .navList {
//                 margin-right: 180px;
//             }
//         }
//     }
// }